body {
	font-family: 'Arial Narrow', Roboto, 'Times New Roman';
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	margin: 0;
	width: 100vw;
}

.nav-container {
	background-color: gray;
	height: 15vh;
}

.nav-container ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	list-style: none;
}

.nav-item a{
	font-size: 20px;
	text-decoration: none;
	color: darkgreen;
	text-transform: uppercase;
}
