body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90vw;
	height: 100vh;
	margin: 0;
}

.nav-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: gray;
	justify-content: center;
	width: 100vw;
	height: 15vh;
}

.nav-container ul {
	list-style: none;
}

.nav-container ul .nav-item {
	align-self: center;
}

#faceLogo {
	justify-self: start;
}